<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>pilaura</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.Pilaura</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>Secret</key>
	<string>$(CLIENT_ID)</string>
</dict>
</plist>
